nodered/data/flows.json
[
    {
        "id": "d4ad93adea736ad6",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4b236b084a44c57f",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "Test ",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8ab76a2986cfc45d",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Iotstack",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "fa95136983ef07e3",
        "type": "debug",
        "z": "d4ad93adea736ad6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 620,
        "wires": []
    },
    {
        "id": "17bba3996c570f4d",
        "type": "influxdb out",
        "z": "d4ad93adea736ad6",
        "influxdb": "8ab76a2986cfc45d",
        "name": "Iotstack",
        "measurement": "randomnumber",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "s",
        "retentionPolicyV18Flux": "",
        "org": "Iotstack",
        "bucket": "Iotstack",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "747be7e09ab1a3dd",
        "type": "mqtt in",
        "z": "d4ad93adea736ad6",
        "name": "",
        "topic": "/hello/random",
        "qos": "2",
        "datatype": "auto",
        "broker": "4b236b084a44c57f",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "fa95136983ef07e3",
                "17bba3996c570f4d"
            ]
        ]
    }
]